# Python | day 2 | collections

Lists, tuples & sets

### Ejercicio 1.

1. Crea
    - una variable de tipo lista llamada **lista_alumnos** que contenga el nombre de tus compañeros de clase.
    - 4 listas diferentes que contengan los nombres de los compañeros sentados en cada mesa de la clase más los que siguen a la clase en remoto.  
    
Si ya no estás en clase y no recuerdas cómo estaba distribuida la clase, utiliza los nombres de tus compañeros y haz 4 listas diferentes con ellos.

Imprime las dos listas creadas.

In [101]:
lista_alumnos = "Maria, Luna, Sol, Jaime, Carlos, Camilo, Alba, Ivan, Federico, Pablo, Luis, Ximena, Shirlei"
alumnos_sentados_mesa_1 = ["Maria, Sol"] 
alumnos_sentados_mesa_2 = ["Jaime, Camilo, Shirlei"]
alumnos_sentados_mesa_3 = ["Alba, Luis, Federico"]
alumnos_remoto = ["Pablo, Ivan, Luna, Ximena, Carlos"]
print(alumnos_sentados_mesa_1)
print(alumnos_sentados_mesa_2)
print(alumnos_sentados_mesa_3)
print(alumnos_remoto)

['Maria, Sol']
['Jaime, Camilo, Shirlei']
['Alba, Luis, Federico']
['Pablo, Ivan, Luna, Ximena, Carlos']

### Ejercicio 2

1. Crea una lista vacía, llámala **lista_vacía**.

In [102]:
lista_vacia = []
print (lista_vacia)

[]

2. Crea una lista con 5 elementos, llámala **mi_lista**.

In [103]:
mi_lista = ["Nombre", "Apellido", "Ciudad", "Pais", 2023]
print(mi_lista)

['Nombre', 'Apellido', 'Ciudad', 'Pais', 2023]

3. Hallar la longitud de **mi_lista**

In [104]:
print (len(mi_lista))

5

4. Obtener el primer elemento, el elemento central y el último elemento de **mi_lista**.

In [105]:
print (mi_lista [0]) #primer elamento
print (len(mi_lista)/2) # posiscion media, redondeo para arriba
print (mi_lista [2]) # posiscion media
print (mi_lista [-1]) #ultimo elemento

Nombre
2.5
Ciudad
2023

5. Declarar
    - una variable **nombre** y asignarle un valor
    - una variable **edad** y asignarle un valor
    - una variable **altura** y asignarle un valor
    - una variable **país** y asignarle un valor
    - una variable **python_version** y asignarle un valor

In [106]:
nombre = "Shirlei"
edad = 33
altura = 171
pais = "Venezuela"
python_version = 3.11

6. Crea una lista llamada **tipos_de_datos_mezclados** con tu nombre, edad, altura, país y versión_de_ python.

In [107]:
tipos_de_datos_mezclados = nombre, edad, altura, pais, python_version
print(tipos_de_datos_mezclados)

('Shirlei', 33, 171, 'Venezuela', 3.11)

7. Declara una variable de lista llamada **it_companies** y asígnale los valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [108]:
it_companies_var = "Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

8. Imprime **it_companies** usando print()

In [109]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Imprimir el número de empresas de la lista

In [110]:
print (len(it_companies))
print (it_companies.index("Facebook"))
print (it_companies.index("Google"))
print (it_companies.index("Microsoft"))
print (it_companies.index("Apple"))
print (it_companies.index("IBM"))
print (it_companies.index("Oracle"))
print (it_companies.index("Amazon"))

7
0
1
2
3
4
5
6

11. imprimir *Google

In [111]:
print (it_companies[1])

Google

10. Imprima el nombre, el segundo nombre y el apellido de la empresa

In [112]:
print (it_companies[0:3])

['Facebook', 'Google', 'Microsoft']

11. Asignar un nuevo valor al último elemento de la lista

In [113]:
it_companies.append("final de la lista")
it_companies

['Facebook',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon',
 'final de la lista']

12. Imprimir la lista después de modificar una de las empresas

In [114]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'final de la lista']

## Bonus track.

13. Añadir una empresa de TI a **it_companies**.

In [115]:
it_companies.insert(0, "The Bridge")
print(it_companies)

['The Bridge', 'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'final de la lista']

14. Compruebe si *Apple* existe en la lista **it_companies**.

In [116]:
if "Apple" in it_companies:
    print ("Apple si existe")
else:
    print("Missing on this list")

Apple si existe

15. Ordena la lista utilizando el método `sort()`.

In [117]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'The Bridge', 'final de la lista']

16. Invierte la lista en orden descendente utilizando el método `reverse()`.

In [118]:
it_companies.reverse()
print(it_companies)

['final de la lista', 'The Bridge', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

17. Elimine las 3 primeras empresas de la lista

In [119]:
print(it_companies)

['final de la lista', 'The Bridge', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [120]:
it_companies.remove('final de la lista') 
it_companies.remove ('The Bridge')
it_companies.remove('Oracle')
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

18. Elimine la última empresa informática de la lista

In [121]:
it_companies.pop(-1)
it_companies

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

19. Eliminar todas las empresas de TI de la lista

In [122]:
it_companies.clear()
it_companies

[]

20. Une las listas siguientes y llama a la lista **fin**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [123]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
lista_fin = front_end + back_end 
print (lista_fin)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. De la lista **end** imprimir 'HTML'

In [124]:
#print (len(lista_fin))
print (lista_fin[0][0])

HTML

22. En la lista final, imprima la "C" de la palabra "CSS".

In [125]:
print (lista_fin)
print (lista_fin[0][1][0])

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
C

### Ejercicio 3.

¿Sabes que puedes crear tuplas con un solo elemento?

1. En la celda de abajo, define una variable **tup** con un solo elemento "T".

Pista: tienes que añadir una coma (,) después del elemento único.

In [126]:
tup = tuple("T",)

2. Imprime el tipo de tup.
Asegúrese de que su tipo es correcto (es decir, tupla en lugar de str).

In [127]:
print (type(tup))

<class 'tuple'>

3. Ahora intenta añadir los siguientes elementos a **tup**.
¿Eres capaz de hacerlo? Explícalo.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [128]:
'''
Cambiamos el tipo de tupla a lista para poder editarla, la llamamos tup_2_list
'''

tup_2_list = list(tup)
print (type(tup_2_list))

'''
Creamos la nueva lista, con aquellos elementos que queremos añadir a la tupla original (que ahora es una lista)
'''

list_2_add = ["H", "E", " ", "B", "R", "I", "D", "G", "E"] 

'''
Creamos la ultima lista, para unificar nuestra tupla convertida en lista, y la lista de elementos
'''

final_union = tup_2_list + list_2_add

'''
Por ultimo, cambiamos el tipo a tupla nuevamente, llamandola list_2_tup, e imprimimos su tipo y toda la tupla
'''
list_2_tup = tuple(final_union)
print (type(list_2_tup))
print (final_union)

<class 'list'>
<class 'tuple'>
['T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E']

4. ¿Qué tal reasignar un nuevo valor a una tupla existente?

Reasigna los siguientes elementos a **tup**.

¿Eres capaz de hacerlo? Explícalo.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [129]:
'''
Cambie la tupla a un str, para aqui poder modificarlo
'''
x = str(final_union)
'''
Ahora con capitalize, pondria cada letra inicial en mayusculas, e imprimo la variable x para leer que este bien, 
sino usario upper, que podria todas las palabras en mayusculas
'''
another_change = x.capitalize
print(x)
'''
Finalmente, lo transformo a tupla nuevamente, 
imprimiendo el tipo para asegurarme
'''
back_to_tup = tuple(x)
print (type(back_to_tup))

['T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E']
<class 'tuple'>

### Ejercicio 4.

1. Convierte **lista_repes** en un *conjunto* para obtener sólo los valores únicos de la lista, asignándolo a una variable llamada **mi_conjunto**.

In [130]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [131]:
mi_conjunto = (set(lista_repes))
mi_conjunto

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

In [132]:
inp_list = [2, 2, 3, 1, 4, 2, 5]
unique_list = []
[unique_list.append(x) for x in inp_list if x not in unique_list]
unique_list

[2, 3, 1, 4, 5]

2. Intenta imprimir el primer elemento de **mi_conjunto**.

Lo has hecho bien si obtienes *TypeError: 'set' object is not subscriptable*.

In [133]:
print (mi_conjunto[0])

TypeError: 'set' object is not subscriptable

3. Convierte **mi_conjunto** en una lista, utilizando la función `list()`.

¿Puedes imprimir ahora el primer elemento?

In [138]:
mi_conjunto_ = list(mi_conjunto)
print (type(mi_conjunto_))

<class 'list'>

In [139]:
print (mi_conjunto_[0])

science